<html>

<head>
    <title>BLOGGING</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="{{URL::asset('assets/css/bootstrap.min.css')}}">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="{{URL::asset('assets/css/style.css')}}" rel='stylesheet' type='text/css' />
    <link href="{{URL::asset('assets/css/style-responsive.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="{{URL::asset('assets/css/lightbox.css')}}">
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="{{URL::asset('assets/css/font.css')}}" type="text/css" />
    <link href="{{URL::asset('assets/css/font-awesome.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{URL::asset('assets/css/morris.css')}}" type="text/css" />
    <!-- calendar -->
    <link rel="stylesheet" href="{{URL::asset('assets/css/monthly.css')}}">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="{{URL::asset('assets/js/jquery2.0.3.min.js')}}"></script>
    <script src="{{URL::asset('assets/js/raphael-min.js')}}"></script>
    <script src="{{URL::asset('assets/js/morris.js')}}"></script>
    <script src="{{URL::asset('assets/js/roomType.js')}}"></script>
    <script src="{{URL::asset('assets/js/members.js')}}"></script>
    <script src="{{URL::asset('assets/js/payments.js')}}"></script>
    <script src="{{URL::asset('assets/js/sms.js')}}"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>



    <script src="{{URL::asset('assets/js/bootstrap.js')}}"></script>
    <script src="{{URL::asset('assets/js/jquery.dcjqaccordion.2.7.js')}}"></script>
    <script src="{{URL::asset('assets/js/scripts.js')}}"></script>
    <script src="{{URL::asset('assets/js/jquery.slimscroll.js')}}"></script>
    <script src="{{URL::asset('assets/js/jquery.nicescroll.js')}}"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="{{URL::asset('assets/js/jquery.scrollTo.js')}}"></script>
    <script type="text/javascript" src="{{URL::asset('assets/js/monthly.js')}}"></script>

</body>

</html>